@use '../abstracts/' as abs;

.ratings {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, auto);
  justify-content: space-between;
  margin-bottom: 25px;

  li {
    @include abs.wh(50px, 50px);
    align-items: center;
    background-color: var(--neutral-400);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease;

    @include abs.hover {
      background-color: var(--accent);
      color: var(--neutral-100);
    }

    &.is-active,
    &:active {
      background-color: var(--neutral-300);
      color: var(--neutral-100);
    }
  }
}
